#!/bin/bash

#FILE=/tmp/network.log

#echo "--- $(date) ----" >> ${FILE}
#echo "ARGS: $*" >> ${FILE}
#echo "ENV:" >> $FILE
#env >> ${FILE}
#echo "STDIN: " >> $FILE
#cat - >> ${FILE}

OCP_BRIDGE='{{ hypervisor_bridge }}'
NETWORKS='{{ real_network }}'
BASTION='{{ bastion_ip }}'

BRIDGE=`xmllint --xpath 'string(/hookData/network/bridge/@name)' -`

if [ "$2" == "started" -a "$3" == "begin" -a "$OCP_BRIDGE" == "$BRIDGE" ] ; then
    /sbin/iptables -t nat -I POSTROUTING 1 -s $NETWORKS -d $NETWORKS -j ACCEPT
    /sbin/iptables -t nat -I POSTROUTING 2 -s $BASTION -d $NETWORKS -j ACCEPT
    /sbin/iptables -I FORWARD 1 -s $NETWORKS -d $NETWORKS -j ACCEPT
    /sbin/iptables -I FORWARD 2 -s $BASTION -d $NETWORKS -j ACCEPT
fi

if [ "$2" == "stopped" -a "$3" == "end" -a "$OCP_BRIDGE" == "$BRIDGE" ] ; then
    /sbin/iptables -t nat -D POSTROUTING -s $NETWORKS -d $NETWORKS -j ACCEPT
    /sbin/iptables -t nat -D POSTROUTING -s $BASTION -d $NETWORKS -j ACCEPT
    /sbin/iptables -D FORWARD -s $BASTION -d $NETWORKS -j ACCEPT
    /sbin/iptables -D FORWARD -s $NETWORKS -d $NETWORKS -j ACCEPT
fi
